* {
	margin: 0px;
	padding: 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.cl_zhi {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

p {
	font-size: 12px;
}

.main_center {
	width: 1000px;
	margin: 0 auto;
}

.font_red, a.font_red {
	color: #bf2e1b;
}

.font_blue, a.font_blue {
	color: #1f93c2;
}

/*------------------------------买家中心--------------------------*/
.member-main {
	background: #fff;
}

.sell_h1 {
	font-size: 15px;
	font-family: tahoma, "microsoft yahei", "微软雅黑";
	margin: 22px 0px 10px;
}

.sell_le>h2 {
	background: url(../images/mem_03.gif) repeat-x;
	width: 137px;
	border: 1px solid #a00404;
	height: 31px;
	line-height: 31px;
	padding-left: 10px;
	font-size: 12px;
	color: #fff;
}

.sell_le_kind {
	border: 1px solid #e9e9e9;
	width: 147px;
}

.sell_le_kind>h3 {
	background: url(../images/mem_07.gif) repeat-x;
	height: 29px;
	border-bottom: 1px solid #ededed;
	color: #333;
	line-height: 30px;
	font-size: 12px;
}

.sell_le_kind>h3>span {
	background: url(../images/mem_10.gif) 120px center no-repeat;
	display: inline-block;
	width: 137px;
	height: 30px;
	padding-left: 10px;
}

.sell_le_kind>ul li {
	list-style: none;
}

.sell_le_kind>ul li a {
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	padding-left: 20px;
	font-size: 12px;
	color: #333;
}

.sell_le_kind>ul li a:hover {
	color: #bf2e1b;
}

.sell_le_kind>ul li a.hover {
	color: #bf2e1b;
}

.sell_ri {
	width: 972px;
	display: block;
	overflow: hidden;
}

.color_1 {
	color: #666;
}

.color_2, .color_2 a {
	color: #0578b9;
}

.color_2>span, .color_2 a {
	color: #0578b9;
}

.sell_ri_top_ri .price-normal {
	color: #fd0002;
}

.width_402 {
	width: 402px;
}

.width_806 {
	width: 974px;
}

.p_tit {
	width: 124px;
	height: 30px;
	font-size: 16px;
	font-family: 'Microsoft Yahei';
	font-weight: bold;
	text-align: center;
	color: #bf2e1b;
	cursor: pointer;
	overflow: hidden;
	float: left;
}

.p_tit span {
	height: 18px;
	line-height: 18px;
}

.Plate div .span_1 {
	background: url(../images/b2.gif) right center no-repeat;
	height: 27px;
	padding-right: 15px;
	display: inline-block;
	line-height: 30px;
	color: #bf2e1b;
	font-size: 12px;
	font-weight: bold;
	padding-left: 11px;
	margin-left: 4px;
}

.Plate {
	margin: 25px 0px 0 0;
}

.Plate_info {
	
}

.bind {
	background: url(../images/s_15.gif) no-repeat;
	width: 91px;
	line-height: 26px;
	height: 26px;
	text-align: center;
	color: #fff;
	display: block;
	text-decoration: none;
	font-size: 12px;
}

.Plate_info_le>img {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 99px;
	height: 79px;
}

.Plate_info_le {
	padding-left: 20px;
}

.Plate_info_ri {
	width: 218px;
}

.Plate_info_ri>p {
	line-height: 25px;
	height: 25px;
}

.mt20 {
	margin-top: 20px;
}

.Plate_info_ul {
	width: 345px;
}

.Plate_info_ul li {
	list-style: none;
	height: 52px;
	margin: 16px 0px;
	padding-left: 10px;
}

.Plate_info_ul li a {
	font-size: 12px;
	text-decoration: none;
	color: #333;
	height: 50px;
	display: block;
	width: 50px;
}

.Plate_info_ul li a img {
	width: 50px;
	height: 50px;
	border: none;
}

.Plate_info_ul li a>strong {
	font-weight: normal;
	color: #333;
	float: left;
}

.Plate_info_ul li a>span {
	color: #666;
}

.line {
	border-top: 1px solid #ffeed6;
	margin: 10px 0px;
}

.Plate_info_table {
	font-size: 12px;
	margin: 32px 0px 45px 15px;
	*padding-left: 15px;
}

.Plate_info_table_div {
	*padding-top: 30px;
}

.Plate_info_table_2_div {
	*margin: 15px 10px;
}

.Plate_info_table th {
	color: #666;
	width: 80px;
}

.Plate_info_table th, .Plate_info_table td {
	height: 20px;
	color: #666;
}

.Plate_info_table td>span {
	color: #a7a7a7;
	font-weight: bold;
}

.Plate_info_table_buy  th {
	background: url(../images/bt.gif) repeat-x;
	height: 32px;
	line-height: 32px;
	color: #666;
	text-align: center;
	font-size: 12px;
}

.Plate_info_table_buy td {
	height: 59px;
	border-bottom: 1px dotted #999;
	text-align: center;
	color: #aa99aa;
}

.Plate_info_table_buy td>a>img {
	width: 50px;
	height: 50px;
}

.Plate_info_table_buy td.buy_td_le {
	text-align: left;
}

.buy_td_a {
	margin-left: 40px;
	display: block;
}

.buy_td_a>span {
	display: inline;
	line-height: 50px;
	float: left;
}

.buy_td_a>img {
	margin-right: 10px;
	float: left;
}

.width_485 {
	width: 485px;
}

.width_156 {
	width: 156px;
}

.width_160 {
	width: 160px;
}

.td_color_1 {
	color: #ed0000;
}

.td_color_2 {
	color: #019667;
}

.Plate_info_table_2 tr td>span {
	margin: 0 5px;
}

.tac {
	text-align: center;
}

.Plate_info_p {
	margin: 30px auto;
	color: #0579c6;
}

.Plate_info_p>span {
	color: #bf2e1b;
	font-size: 16px;
	font-weight: bold;
}

.Plate_info_p>a {
	padding-left: 15px;
	text-decoration: none;
	color: #0579c6;
}

.Plate_info_p>strong {
	color: #666;
	font-weight: normal;
}

.button_1 {
	background: url(../images/s_19.gif) no-repeat;
	width: 99px;
	height: 25px;
	line-height: 25px;
	color: #0578b9;
	text-align: center;
	font-size: 16px;
	border: 0px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 3px;
}

.tac .width_210 {
	margin: 0 auto;
}

.buyed_pro, .Plate_info_ul a {
	width: 50px;
	height: 50px;
	display: block;
	border: 1px solid #ccc;
	overflow: hidden;
	float: left;
}

.buyed_pro img {
	width: 50px;
	height: 50px;
	border: 0px;
}

.Plate_info_div_span {
	float: left;
}

.mall_buyed {
	width: 600px;
	border-right: 1px dotted #f0daa1;
}

.Plate_info_ul a {
	width: 50px;
}

.mall_buy_save {
	width: 70px;
}

.Plate_info  .mall_buy_save {
	text-align: center;
}

.msave {
	display: inline-block;
	background: #26af5e;
	width: 60px;
	line-height: 20px;
	height: 20px;
	color: #fff;
	padding: 0 3px;
}

.clo_ds_le {
	background: url(jeac_102.gif) no-repeat;
	width: 24px;
	height: 180px;
	float: left;
	padding-left: 5px;
	margin-right: 5px;
	margin-top: 40px;
	cursor: pointer;
}

.clo_ds_ri {
	background: url(jeac_105.gif) no-repeat;
	width: 24px;
	height: 180px;
	float: right;
	padding-right: 5px;
	cursor: pointer;
	margin-top: 40px;
}

.picscroll_buy {
	width: 708px;
	overflow: hidden;
	float: left;
}

.pics  ul li {
	float: left;
	list-style: none;
	width: 150px;
	margin: 0 13px;
}

.pics  ul  li>a {
	display: block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	text-align: center;
}

.pics  ul  li>p>a {
	text-decoration: none;
	height: 40px;
	line-height: 20px;
	color: #005ea7;
	font-size: 12px;
	display: block;
}

.picscroll_buy  .price-wrap span {
	color: #bf2e1b;
}

.buy_member_p {
	
}

.buy_mem_p_dj {
	background: url(../images/buy1.gif) no-repeat;
	width: 12px;
	height: 16px;
	display: block;
	margin-top: 3px;
	margin-right: 10px;
}

.buy_mem_p_back {
	background: url(../images/buy2.gif) 5px no-repeat;
	width: 7px;
	height: 16px;
	display: block;
	padding: 7px 5px 0px 5px;
	border-left: 1px solid #ffeed6;
	cursor: pointer;
}

.buy_member_p .price-normal_1 {
	display: inline-block;
	line-height: 23px;
	height: 23px;
	width: 65px;
	margin-right: 5px;
}

.mall_buy_cart {
	padding-right: 255px;
}

.Plate_info_div {
	padding: 10px 10px 0px 10px;
}

.mem_yanicon {
	background: url(../../img/pc_img/verify_icon.png)
		no-repeat;
	width: 80px;
	margin-left: 20px;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	float: left;
}

.mem_yanicon_yes {
	background-position: 0 -38px;
	color: #005ea7;
}

.mem_yanicon_no {
	background-position: 0 8px;
	color: #bf2e1b;
}

.mem_yanicon a {
	color: #bf2e1b;
}

.mall_buy_p_mob_3 {
	background: url(../images/buy6.gif) 30px 7px no-repeat;
	padding-left: 60px;
	height: 35px;
	line-height: 35px;
	color: #005ea7;
}

.mall_buy_p_mobh_3 {
	background: url(../images/buy6_1.gif) 30px 7px no-repeat;
	padding-left: 60px;
	height: 35px;
	line-height: 35px;
	color: #005ea7;
}

.mall_buy_cart_le {
	margin-left: 15px;
	_margin-left: 0px;
}

.item-flow_ul {
	float: right;
	width: 435px;
	position: relative;
}

.item-flow_ul li {
	float: left;
	list-style: none;
}

.item-flow_ul li em {
	color: #888;
}

.item-flow_ul li {
	float: left;
	list-style: none;
}

.item-flow_ul li a {
	display: block;
}

.item-flow_ul li  em {
	position: absolute;
}

.item-flow_ul  .ps em {
	left: 178px;
}

.item-flow_ul  .ys em {
	left: 85px;
}

.item-flow_ul  .fh em {
	left: -8px;
}

.buy_yuan_h {
	background: url(../images/go1.gif) no-repeat;
	width: 14px;
	height: 20px;
}

.buy_yuan_r {
	background: url(../images/go2.gif) no-repeat;
	width: 14px;
	height: 20px;
}

.buy_yuan_h1 {
	background: url(../images/go3.gif) no-repeat;
	width: 94px;
	height: 20px;
}

.buy_yuan_r1 {
	background: url(../images/go4.gif) no-repeat;
	width: 94px;
	height: 20px;
}

.btn-qr_h {
	background: url(../images/go5.gif) no-repeat;
	width: 116px;
	height: 17px;
	padding: 3px 0px 0px 58px;
}

.btn-qr_r {
	background: url(../images/go6.gif) no-repeat;
	width: 116px;
	height: 17px;
	padding: 3px 0px 0px 58px;
}

.btn-qr_r>span {
	position: absolute;
	left: 266px;
	top: 20px;
	color: #888;
}

.pj {
	background: url(../images/go7.gif) no-repeat;
	width: 33px;
	height: 17px;
	padding: 3px 0px 0px 5px;
}

.mall_buy_cart_in {
	width: 175px;
	height: 48px;
	line-height: 19px;
	padding-left: 10px;
}

.mall_buy_save_span {
	color: #666;
	display: inline-block;
}

.mall_buy_save_span>em {
	color: #ff4200;
}

.buy_com_but, .buy_com_but:hover {
	background: url(../images/buy_c.gif) no-repeat;
	width: 74px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	color: #333;
	display: block;
	margin-left: 50px;
	margin-bottom: 10px;
}

.picscroll_buy  li {
	text-align: center;
}

.picscroll_buy  li>p>a {
	text-align: left;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	display: block;
}

.picscroll_buy  li a img {
	width: 210px;
	height: 210px;
	border: 1px solid #E5E5E5;
	overflow: hidden;
	display: block;
}

.mall_buy_view, .mall_buy_view:hover {
	color: #0578b9;
	font-size: 14px;
	font-family: tahoma, "microsoft yahei", "微软雅黑";
	margin: 5px 0px;
	line-height: 20px;
	height: 20px;
	margin-right: 20px;
}

.order_info_ri td.none, .memberindex_money td.none {
	border-bottom: 0px;
}
/*买家中心*/
.sell_ri_top {
	border: 1px solid #e4eaee;
	background: #fff
}

.sell_ri_top_le {
	height: 70px;
	background-color: #f5f8fa;
	padding: 10px 20px;
}
/*.sell_ri_top_le>a{margin-top:30px;display:block; width:102px; height:102px;margin:30px auto 0px;}*/
.sell_ri_top_le>a>img {
	border: 0px;
}

.sell_ri_top_ri {
	width: 100%;
}

.tit {
	height: 30px;
	line-height: 30px;
	margin: 5px 0px;
	color: #666;
}

.tit>span {
	margin: 0 10px;
}

.order_info_le {
	
}

.order_info_le>ul {
	width: 100%;
	height: 20px;
	padding: 20px 0;
	border-top: 1px solid #e4eaee;
}

.order_info_le>ul li {
	width: 25%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #4b4b4b;
	border-right: 1px solid #e4eaee;
	float: left;
}

.order_info_le>ul li a {
	color: #4b4b4b;
}

.order_info_le>ul li a:hover {
	color: #bf2e1b;
}

.order_info_le>ul li a span {
	padding: 0 6px;
	color: #FF4400;
}

.order_info_le>ul li span {
	padding: 0 6px;
}

.order_info_le>ul li.none {
	width: 23%;
	border-right: none;
}
/*.order_info{border:1px solid #eee;}*/
.order_info_ri td, .order_info_ri th {
	border-bottom: 1px solid #ffeed6;
	font-size: 12px;
	height: 30px;
}

.order_info_ri th {
	text-align: right;
}

.order_info_ri td {
	text-align: left;
	color: #0578b9;
}

.order_info_ri th {
	color: #000;
	font-weight: bold;
}

.sell_ri_top .sell_ri_top_le {
	
}

.tit_p {
	padding: 8px 0 8px 84px;
	line-height: 26px;
	font-size: 14px;
}

.tit_p span {
	color: #0265cb;
	font-weight: bold;
}

.sell_info, .sell_safe {
	width: 30%;
}

.sell_info {
	background: url() no-repeat;
}

.memberindex_money {
	width: 40%;
}

.mall_buy_safe_1, .mall_buy_safe_2, .mall_buy_safe_3, .mall_buy_safe_4 {
	display: inline-block;
	height: 12px;
	line-height: 12px;
	margin-left: 4px;
}

.mall_buy_p_mob_span {
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
}

.mall_buy_safe_1 {
	background: url(../../img/pc_img/safe_level.png) left 0px
		no-repeat;
	width: 100px;
}

.mall_buy_safe_2 {
	background: url(../../img/pc_img/safe_level.png) left
		-12px no-repeat;
	width: 100px;
}

.mall_buy_safe_3 {
	background: url(../../img/pc_img/safe_level.png) left
		-24px no-repeat;
	width: 100px;
}

.mall_buy_safe_4 {
	background: url(../../img/pc_img/safe_level.png) left
		-36px no-repeat;
	width: 100px;
}

.memberindex_money ul {
	width: 100%;
}

.memberindex_money ul li {
	width: 42%;
	padding-left: 8%;
	line-height: 34px;
	font-size: 16px;
	color: #3c3c3c;
	float: left;
}

.memberindex_money ul li a {
	color: #3c3c3c;
}

/**navigation**/
.member-main {
	width: 972px;
	background: #fff;
	float: left
}

.Plate2>h4 {
	font-family: 'Microsoft Yahei'
}

.Plate2>h4 a.current2 {
	background: #59c558;
	color: #fff;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	display: inline-block
}

.Plate_info {
	padding: 0
}

.memberindex_money ul li {
	line-height: 28px
}

.icon_bmcard {
	background: url(../images/photo-tool-icon.gif) 0 -555px;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px
}

.member-main2 .Plate>h4 {
	border-bottom-color: #296ecc
}

.member-main2 .long-btn {
	border: 1px solid #ffeeda;
	background: #fff4e8
}

.member-main2 .switch .switchable-triggerBox li.active {
	background: #377bee
}

.member-main2 .switch .switchable-triggerBox {
	border-bottom-color: #377bee
}

.member-main2 a:hover {
	color: #377bee
}

.member-main2 .trigger-btn {
	background: #377bee
}

.member-main2 .trigger-btn:hover {
	color: #fff
}

.member-sidebar {
	width: 110px;
	float: left;
	_overflow: hidden
}

.member-sidebar2 {
	width: 110px;
	float: left;
	_overflow: hidden
}

.member-sidebar h2.left_top {
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
	text-align: left;
	color: #bf2e1b;
	margin-bottom: 4px
}

.member-sidebar2 h2.left_top {
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
	text-align: left;
	color: #377bee;
	margin-bottom: 4px
}

.member-sidebar .list-title-bg h2 {
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
	color: #bf2e1b
}

.member-sidebar2 .list-title-bg h2 {
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
	color: #377bee
}

.member-sidebar2 a.hover {
	color: #377bee
}

.Plate>h4 {
	height: 30px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 22px;
	position: relative
}

.Plate>h4 a {
	display: block;
	width: 124px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
	text-align: center;
	color: #3c3c3c;
	border-right: 1px solid #ddd;
	float: left
}

.Plate>h4 a.current, .Plate>h4 a:hover {
	color: #f40
}

.Plate>h4 a span.disnum {
	padding-left: 5px;
	color: #bf2e1b
}

.Plate h4 .order_border {
	width: 124px;
	height: 2px;
	background-color: #bf2e1b;
	position: absolute;
	left: 0;
	top: 30px
}

.Plate0 {
	padding-top: 20px
}

.Plate0>h4 {
	height: 30px;
	border-bottom: 2px solid #ddd;
	position: relative
}

.Plate0>h4 a {
	display: inline-block;
	width: 124px;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	font-family: 'Microsoft Yahei';
	font-weight: bold;
	text-align: center;
	color: #3c3c3c;
	border-right: 1px solid #ddd
}

.Plate0>h4 a.current {
	color: #377bee
}

.Plate0>h4 a span.disnum {
	padding-left: 5px;
	color: #bf2e1b
}

.member-main .gridlist th {
	padding: 0;
	text-align: left;
	background: #eaf8ff;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #eaf8ff;
	border-top: 0
}

.member-main .gridlist3 th {
	padding: 0;
	text-align: center;
	background: #f1f1f1;
	height: 32px;
	line-height: 32px;
	border: 1px solid #ddd;
	border-right: 0
}

.member-main .gridlist3 td {
	text-align: center;
	height: 28px;
	border: 1px solid #eee;
	border-right: 0;
	border-top: 0
}

.member-main .gridlist2 {
	padding: 0;
	text-align: center;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee
}

.gridlist2 td {
	border-left: 1px solid #eee
}

.specification .gridlist2 tbody.productNode td {
	vertical-align: middle
}

.pplist td, .pplist th {
	padding: 4px
}

.fontColor3 {
	color: red
}

.cal {
	padding: 6px 5px 6px 20px
}

.division .info_shop table th {
	width: 140px;
	text-align: right;
	margin-right: 6px
}

.member-main .division .forform th {
	font-size: 12px;
	line-height: 25px
}

.member-main .orderlist-warp .gridlist td {
	text-align: center
}

.member-main .orderlist-warp .gridlist td.nopadding {
	padding: 0;
	border-left: none
}

.member-main .orderlist-warp .gridlist td table td {
	border: 0
}

.member-main .orderlist-warp .gridlist th {
	line-height: 40px;
	height: 40px
}

.member-main .orderlist-warp .gridlist th table.th-table {
	background: #eaf8ff
}

.member-main .orderlist-warp .gridlist th table.th-table td {
	background: #eaf8ff;
	border: 0
}

.member-main .orderlist-warp .gridlist th table.th-table td.order-time {
	margin-left: 20px;
	width: 100px;
	display: inline-block;
	font-weight: 700;
	font-family: inherit
}

.member-main .orderlist-warp .gridlist th table.th-table td.order-id {
	width: 300px;
	margin-left: 10px;
	display: inline-block;
	text-align: left
}

.member-main .orderlist-warp .gridlist th table.th-table td.order-store-name
	{
	margin-left: 10px;
	display: inline-block
}

.member-main .orderlist-warp .gridlist th table.th-table td.order-store-kefu
	{
	margin-left: 80px;
	display: inline-block;
	padding-top: 10px
}

.member-main .orderlist-warp .gridlist th table.th-table td.order-store-kefu img
	{
	border: 1px solid red
}

.member-main .orderlist-warp .gridlist th table.th-table td.order-store-kefu img:hover
	{
	border: 1px solid #66b6ff
}

.gridlist_member td {
	border-bottom: 0
}

.gridlist_member:hover {
	border: 1px solid #afd9ff;
	border-bottom: 1px solid #afd9ff
}

.cubt {
	background: #f1f1f1;
	height: 50px;
	border: 1px solid #eee;
	margin-top: 10px;
	font-family: "Microsoft YaHei"
}

.cubt ul li {
	float: left
}

.cubt ul li a {
	cursor: pointer;
	display: block;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	padding: 0 50px
}

.cubt ul li a:hover {
	color: #bf2e1b
}

.member-main .title-bg {
	color: #bf2e1b;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	height: 44px;
	line-height: 44px;
	margin-top: 20px;
	border: 1px solid #e8e8e8;
	border-bottom: 0
}

.member-main .noinfo {
	height: 30px;
	line-height: 30px;
	color: #7e7e7e;
	text-indent: 10px
}

.member-main .green {
	color: #390
}

.member-main .gray {
	color: #666
}

.member-main .icon1 {
	margin: 3px 0;
	padding-top: 3px
}

.member-main .icon3 {
	float: right;
	font-weight: 100;
	padding: 2px 15px 0 15px
}

.member-main .pay-btn {
	width: 160px;
	height: 39px;
	background: url(../images/pay_btn.gif) no-repeat;
	border: 0;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-left: 13px
}

.member-main .more {
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-family: Verdana
}

.member-main .more a {
	color: #464646;
	text-decoration: none
}

.member-main .favorites {
	border: 1px solid #c5d7e6;
	border-top: 0;
	padding-bottom: 8px;
	overflow: hidden;
	zoom: 1
}

.member-main .favorites li {
	width: 130px;
	float: left;
	display: inline;
	margin: 10px 5px 7px 7px;
	overflow: hidden;
	zoom: 1;
	padding: 0 5px 5px 5px;
	border: 1px solid #dfe2eb
}

.member-main .activity li {
	height: 23px;
	line-height: 23px;
	background: #fff2e0 url(../images/ra.gif) no-repeat 8px 8px;
	margin: 3px 0;
	font-weight: bold;
	text-indent: 20px
}

.member-main .activity li a {
	color: #fe6c00
}

.member-main .activity li a:hover {
	text-decoration: underline
}

.operate-btn {
	padding: 0;
	display: block;
	margin: 0 auto;
	text-align: center;
}

a.paymoney_btn, a.paymoney_btn:hover, a.confirm_btn, a.confirm_btn:hover
	{
	color: #fff;
}

.paymoney_btn, .confirm_btn {
	background: #f40;
	width: 68px;
	height: 26px;
	line-height: 26px;
	margin-bottom: 4px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.bottomboder {
	border-bottom: 1px solid #daf3ff;
}
/*user_order*/
.gridlist {
	color: #333;
	border-bottom: none;
	border-collapse: separate;
	word-wrap: break-word;
	overflow: hidden;
	caption-side: top\9;
	border-collapse: collapse\9;
	empty-cells: hide\9;
	font-family: Arial, Verdana;
}

.member-main .gridlist th {
	line-height: 40px;
	height: 40px;
}

.gridlist th.first {
	border-left: white;
}

.gridlist th {
	background: #eee;
	color: #333;
	text-align: center;
	border-bottom: 1px solid #C4D5E0;
	height: 33px;
	line-height: 33px;
	border-collapse: collapse;
}

.member-main .gridlist th table.th-table td.order-time {
	margin-left: 20px;
	width: 100px;
	display: inline-block;
	font-weight: 700;
	font-family: inherit;
}

.member-main .gridlist th table.th-table td {
	background: #eaf8ff;
	border: none;
}

.price-wrap {
	text-align: left;
}

.member-main .gridlist td table td {
	border: none;
}

.gridlist td {
	border-left: 1px solid #daf3ff;
	padding: 10px 5px;
	vertical-align: middle;
	line-height: 22px;
	background-color: #fdf8f8;
}

.price-normal, .point {
	color: #bf2e1b;
}

.goodpic a img {
	margin: 0;
}

.member-gift-pic img {
	height: 70px;
}

.goodpic a {
	background: transparent;
	display: block;
	text-align: left;
	overflow: hidden;
}

.goodinfo .font-blue, .goodinfo a.font-blue, .goodinfo .font-blue a {
	color: #3c3c3c;
}

.font-blue, a.font-blue, .font-blue a {
	color: #3c3c3c;
}

a.font-blue:hover, .font-blue a:hover, .goodinfo a.font-blue:hover,
	.goodinfo .font-blue a:hover {
	color: #bf2e1b;
}

.articlewrap p font {
	line-height: normal;
}

.horizontal-m .goodpic {
	text-align: center;
	float: left;
	_display: inline;
	overflow: hidden;
}

.horizontal-m .goodinfo {
	float: left;
	_display: inline;
	white-space: normal;
}

.vertical-m .goodpic {
	margin: 0 auto;
	position: relative;
}

.price-wrap {
	text-align: left;
}

.button li {
	height: 25px;
	line-height: 25px;
	padding: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.goodinfo h3 {
	font-weight: normal;
	text-align: left;
	height: 30px;
	font-size: 12px;
	line-height: 15px;
	overflow: hidden;
}

.horizontal-m .goodinfo h3 {
	height: auto;
	overflow: visible;
}

.gridlist .goodpic {
	width: 70px;
	height: 70px;
	padding: 0;
	margin: 2px;
	border: 1px solid #eee;
}

.gridlist .goodinfo {
	text-align: left;
	padding: 0 5px;
	margin-top: 5px;
	float: none;
}

.gridlist .goodinfo h3 {
	margin: 0;
}

.goodsDetailContent .items-gallery {
	width: 158px;
}

.forforma-btn {
	margin-left: 10px;
}

.gridlist {
	color: #333;
	border-bottom: none;
	border-collapse: separate;
	word-wrap: break-word;
	overflow: hidden;
	caption-side: top\9;
	border-collapse: collapse\9;
	empty-cells: hide\9;
	font-family: Arial, Verdana;
}

.gridlist .row {
	border: 1px solid #dedede;
	clear: both;
	display: block;
	line-height: 16px;
	margin: 5px 0;
	overflow: hidden;
	padding: 5px;
}

.gridlist .row .row-line .opt img {
	cursor: pointer;
}

.gridlist th {
	background: #eee;
	color: #333;
	text-align: center;
	border-bottom: 1px solid #C4D5E0;
	height: 33px;
	line-height: 33px;
	border-collapse: collapse;
}

.gridlist th.first {
	border-left: white;
}

.gridlist td {
	border-left: 1px solid #daf3ff;
	padding: 10px 5px;
	vertical-align: middle;
	line-height: 22px;
	background-color: #fdf8f8;
}

.gridlist td.no_bk {
	border-left: 0px;
}

.no_bk .goods-main del {
	color: #999;
}

.table-goods-list {
	border: 1px solid #daf3ff;
}

.w88 {
	width: 88px;
}

.goodinfo h6 {
	font-weight: 100;
}

.goodinfo .font-blue, .goodinfo a.font-blue, .goodinfo .font-blue a {
	color: #3c3c3c;
}

.table-goods-list .has-right-price {
	margin-right: 70px;
}

.table-goods-list .price-wrap {
	text-align: center;
}

.font-blue, a.font-blue, .font-blue a {
	color: #3c3c3c;
}

.font-red {
	color: #bf2e1b;
}

.off-screen {
	position: absolute;
	left: -9999px;
}

.giftpackage-wrap {
	width: 220px;
	float: left;
}

.giftpackage-wrap h6 {
	font-weight: normal;
}

.giftpackage-wrap dd {
	width: 118px;
}

.giftpackage-wrap .goods-main {
	width: 150px;
	margin-left: 55px;
}

.cart-product-img img, .cart-product-img {
	width: 50px;
	height: 50px;
}
.pics div li {
	float: left;
	margin: 0 5px;
	width: 212px;
	overflow: hidden;
}