
	
.scroll-wrapper{
	width:100%;
	margin:0 auto;
	max-width:640px;
	overflow: hidden;
}
.scroll-wrapper .scroller{
	list-style:none;
}
.scroll-wrapper .scroller li{
	float:left;
	text-align: center;
}
.scroll-wrapper .scroller li img{
	width:100%;
	min-width: 320px;
	max-width: 640px;
	height:auto;
	max-height:240px;
	min-height:132px;
}
.banner{
position:relative;width:100%;overflow:hidden
}
.new-banner-num {
position: absolute;
left: 0;
bottom: 3px;
width: 100%;
height: 10px;
text-align: center;
}
.new-tbl-type {
display: table;
width: 100%;
}
.new-banner-num .new-tbl-cell {
display: inline-block;
width: 7px;
height: 7px;
margin-left: 7px;
border-radius: 6px;
background-color: #fff;
text-indent: -9999px;
}

.new-banner-num .new-tbl-cell.on {
background-color: #e4393c;
}
